* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("./Img/bank.avif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: border-box;
  background-attachment: fixed;
  background-position: center;
}
